

.card-container{
    padding: 20px;
    border: 4px solid black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    height: 800px;
}
.card-container span{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.card-img{
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}