.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.card-container{
    padding: 20px;
    border: 4px solid black;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
    width: 400px;
}
.card-container span{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}