.header{
    background-color: bisque;
}
.btns-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
#btn-back, #btn-forward{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}